<div class="header">
    <ul class="nav">
        <li><h3>Mooditor</h3></li>
    </ul>
</div>
<div class="row" ng-model="editorBox">
    <div class="col-sm-6">
        <div class="label label-default">Edit it ...</div>
        <button class="btn btn-xs btn-danger" ng-click="remove()">remove</button>
        <button class="btn btn-xs btn-success" ng-click="save(content)">save</button>
        <textarea autofocus="true" placeholder="Type your Markdown here"
                  maxlength="100" cols="50" rows="30" ng-model="content"></textarea>
    </div>
    <div class="col-sm-6">
        <div class="label label-default">... and see it directly !</div>
        <div btf-markdown="content"></div>
    </div>

</div>